netex/**
domain/netex/model/**
**/.idea
**/__pycache__/
**/.venv
**/*.lmdb/
**/*.duckdb/
**/*.mdbx/
*.pyc

*.jar
uv.lock
local_configuration.py
tools/results.xlsx
tools/~$results.xlsx
tools/tool_scripts/results.xlsx
tools/\]/mdbx.dat
tools/\]/mdbx.lck
res.xlsx
~$res.xlsx
tools/tool_scripts/script_regression.txt~
